.main_chat
  .main_chat__top
    .main_chat__top__group
      .main_chat__top__group__name
        testGroup
      .main_chat__top__group__member
        testName
    .main_chat__top__edit
      = link_to "Edit", "#", method: "get"
  .main_chat__main
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
  = form_for [@group, @message] do |f|
    .main_chat__bottom
      .main_chat__bottom__input
        = f.text_field :message, class: "main_chat__bottom__input__textbox", placeholder: "type a message"
        = f.label :image, class: "main_chat__bottom__input__image" do
          = icon("fas", "image")
          = f.file_field :image, class: "hidden"
      = f.submit "Send", class: "main_chat__bottom__send"
