.main_chat
  .main_chat__top
    .main_chat__top__group
      .main_chat__top__group__name
        = @group.name
      .main_chat__top__group__member
        Member: 
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .main_chat__top__edit
      = link_to "Edit", edit_group_path(@group), method: "get"
  .main_chat__main
    - @messages.each do |message|
      .main_chat__main__group
        .main_chat__main__group__name
          = message.user.name
        .main_chat__main__group__date
          = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .main_chat__main__message
        - if message.content.present?
          .main_chat__main__message__content
            = message.content
        = image_tag message.image.url if message.image.present?
  = form_for [@group, @message] do |f|
    .main_chat__bottom
      .main_chat__bottom__input
        = f.text_field :content, class: "main_chat__bottom__input__textbox", placeholder: "type a message"
        = f.label :image, class: "main_chat__bottom__input__image" do
          = icon("fas", "image")
          = f.file_field :image, class: "hidden"
      = f.submit "Send", class: "main_chat__bottom__send"
